/.tmp
*.json
*.tar.gz
hotspots.txt
*.zip
/callgrind*
/time_cost
/.idea
*.data
*.old
*.csv
/action.act
/vimworkspace/dummy*.txt
/output
/pintool/obj-intel64/
/pintool/pin_root/
!/pintool/pin_root/.gitkeep
/pintool/time_cost
/pintool/test.cpp
/pintool/time_cost.cpp
**/pin.log
**/pintool.log
