/.tmp
*.json
*.txt
*.tar.gz
*.zip
/callgrind*
/time_cost
/.idea
*.data
*.old
*.csv
/vimworkspace
/output
/pintool/obj-intel64/
/pintool/pin_root/
!/pintool/pin_root/.gitkeep
/pintool/time_cost
/pintool/test.cpp
/pintool/time_cost.cpp
**/pin.log
**/pintool.log
